@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --radius: 12px;

  --background: oklch(98.4% 0.005 67.8);
  --foreground: oklch(24.3% 0.008 95.4);
  --card: oklch(99.4% 0.001 106.4);
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);
  --primary: oklch(63.3% 0.079 61);
  --primary-foreground: oklch(100% 0 0);
  --subtle-foreground: oklch(49.8% 0.008 106.7);
  --muted: oklch(95.3% 0.013 63.9);
  --muted-foreground: oklch(64.1% 0.01 106.7);
  --accent: oklch(63.3% 0.079 61 / 8%);
  --accent-foreground: var(--foreground);

  --destructive: oklch(62.7% 0.194 33.3);
  --destructive-foreground: var(--primary-foreground);

  --border: oklch(85.1% 0.006 95.3);
  --input: var(--border);
  --ring: oklch(74.6% 0.072 62.1);

  --selection: oklch(63.3% 0.079 61 / 30%);
  --selection-foreground: var(--foreground);

  --hairline: 0px 0px 0px 0.5px var(--border);
  --shadow-xs:
    0px 1px 2px 0px oklch(24.3% 0.008 95.4 / 6%),
    0px 2px 8px 0px oklch(24.3% 0.008 95.4 / 4%);
  --shadow-md:
    0px 2px 4px 0px oklch(24.3% 0.008 95.4 / 5%),
    0px 6px 16px 0px oklch(24.3% 0.008 95.4 / 5%);
  --shadow-lg:
    0px 4px 8px 0px oklch(24.3% 0.008 95.4 / 5%),
    0px 12px 32px 0px oklch(24.3% 0.008 95.4 / 6%);

  --tooltip: var(--foreground);
  --tooltip-foreground: oklch(99.4% 0.001 106.4);
  --tooltip-muted-foreground: oklch(79.1% 0.008 98.9);

  --popover-shadow: var(--shadow-md), var(--hairline);

  --toast-shadow: var(--shadow-xs), var(--hairline);

  --searchbox-shadow: var(--shadow-xs), var(--hairline);
  --searchbox-dialog-shadow: var(--shadow-lg), var(--hairline);
}

.dark {
  --background: oklch(25.2% 0 0);
  --foreground: oklch(94.9% 0 0);
  --card: oklch(31.3% 0 0);
  --popover-foreground: var(--subtle-foreground);
  --subtle-foreground: oklch(77% 0 0);
  --muted: oklch(21.3% 0 0);
  --muted-foreground: oklch(58.3% 0 0);
  --accent: oklch(0 0 0 / 30%);

  --border: oklch(40.2% 0 0);
  --ring: oklch(50.9% 0.053 61.9);

  --hairline: inset 0px 0px 0px 0.5px var(--border);
  --shadow-xs: 0px 3px 6px 0px oklch(0% 0 0 / 6%);
  --shadow-md:
    0px 2px 4px 0px oklch(0% 0 0 / 10%), 0px 6px 16px 0px oklch(0% 0 0 / 12%);
  --shadow-lg:
    0px 4px 8px 0px oklch(0% 0 0 / 8%), 0px 12px 32px 0px oklch(0% 0 0 / 10%);

  --tooltip: oklch(17.8% 0 0);
  --tooltip-foreground: var(--foreground);
  --tooltip-muted-foreground: oklch(77% 0 0);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-source-serif);

  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-subtle-foreground: var(--subtle-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --shadow-xs: var(--shadow-xs);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);

  --color-selection: var(--selection);
  --color-selection-foreground: var(--selection-foreground);

  --color-tooltip: var(--tooltip);
  --color-tooltip-foreground: var(--tooltip-foreground);
  --color-tooltip-muted-foreground: var(--tooltip-muted-foreground);

  --shadow-popover: var(--popover-shadow);

  --shadow-toast: var(--toast-shadow);

  --shadow-searchbox: var(--searchbox-shadow);
  --shadow-searchbox-dialog: var(--searchbox-dialog-shadow);
}

@counter-style bare-decimal {
  system: extends decimal;
  suffix: '\2002'; /* en space */
}

@layer base {
  * {
    @apply border-border outline-offset-1 outline-ring focus-visible:z-10 focus-visible:outline-2 focus-visible:outline-ring aria-invalid:outline-2;
  }
  ::selection {
    @apply bg-selection text-selection-foreground;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }

  /* See https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
